# Ansible managed

[mariadb]

# Basic settings
user                  = mysql
pid-file              = /run/mysqld/mysqld.pid
socket                = /run/mysqld/mysqld.sock
basedir               = /usr
datadir               = /var/lib/mysql
tmpdir                = /tmp
lc-messages-dir       = /usr/share/mysql
lc_messages           = en_US
skip-external-locking
port                  = 3306
bind-address          = 127.0.0.1

# Fine tuning
max_connections         = 100
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 32M
max_heap_table_size     = 32M

# Logging
log_error = /var/log/mysql/error.log

# Query cache
query_cache_size        = 16M

# Character sets
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci

# InnoDB
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!


[mysqldump]
quick
quote-names
max_allowed_packet = 16M
