---
- name: Copy global MariaDB configuration
  ansible.builtin.template:
    src: mariadb.cnf.j2
    dest: "{{ mariadb_config_file }}"
    owner: root
    group: root
    mode: 0644
    force: "{{ mariadb_overwrite_global_config_file }}"
  notify: Restart mariadb

- name: Make sure datadir and log dir exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ mariadb_user }}"
    group: "{{ mariadb_user }}"
    mode: 0755
  loop:
    - "{{ mariadb_data_dir }}"
    - "{{ mariadb_log_dir }}"

- name: Ensure MariaDB is started and enabled on boot
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: "{{ mariadb_enabled_on_startup }}"

- name: Immediately restart MariaDB (necessary for replication)
  ansible.builtin.meta: flush_handlers
