---
name: Cluster

on:
  push:
    paths:
      - "files/**"
      - "handlers/**"
      - "molecule/cluster/**"
      - "tasks/**"
      - "templates/**"
      - "vars/**"
      - .github/workflows/composite-action/action.yml
      - .github/workflows/test_cluster.yml
      - requirements.txt
  schedule:
    - cron: "30 5 * * 2"

jobs:
  molecule-distrib-pkg:
    name: Cluster
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu-20.04
          - ubuntu-22.04
          - ubuntu-24.04
          - debian-11
          - debian-12
          - fedora-41
          - almalinux-9
          - rockylinux-9
          - alpine-3.20
          - alpine-3.21
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/workflows/composite-action
      - name: Run molecule
        run: |
          source .venv/bin/activate
          molecule test -s cluster
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
