---
name: MDBF deployment

on:
  push:
    paths:
      - "files/**"
      - "handlers/**"
      - "molecule/default/**"
      - "tasks/**"
      - "templates/**"
      - "vars/**"
      - .github/workflows/composite-action/action.yml
      - .github/workflows/test_mdbf.yml
      - requirements.txt
  schedule:
    - cron: "10 5 * * 2"

jobs:
  molecule-mdbf-pkg:
    name: MDBF
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu-22.04
          - ubuntu-24.04
          - debian-11
          - debian-12
          - debian-13
          - debian-sid
          - fedora-41
          - almalinux-9
          - rockylinux-9
        mariadb-version:
          - "10.6"
          - "10.11"
          - "11.4"
          - "11.8"
          - "12.0"
          - "12.1"
        exclude:
          - distro: debian-13
            mariadb-version: 10.6
          - distro: debian-13
            mariadb-version: 10.11
          - distro: debian-13
            mariadb-version: 11.4
          - distro: ubuntu-24.04
            mariadb-version: 10.6
          - distro: debian-12
            mariadb-version: 10.6
          - distro: fedora-41
            mariadb-version: 10.6
          - distro: fedora-41
            mariadb-version: 10.11
          - distro: fedora-41
            mariadb-version: 11.4

    steps:
      - uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/workflows/composite-action
      - name: Run molecule
        run: |
          source .venv/bin/activate
          molecule test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PLAYBOOK: mdbf.yml
          MARIADB_VERSION: ${{ matrix.mariadb-version }}
